/* Soft Reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url('../IMG/background_cement.jpg');
    background-size: auto 100vh;
    font-family: 'Cutive Mono', monospace;
    font-size: 20px;
  }

  header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu {  
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    width: 100vw;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
  }

  .menu li {
    list-style: none;
  }
  
  .menu a {
    color: white;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 1s, text-shadow 1s;
  }
  
  .menu a:hover {
    background-color: 	#484848;
    text-shadow: 0px 0px 10px whitesmoke;
    text-decoration: underline;
  }
  
  .siteLogo {
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    color: #fff;
    display: block;
    height: 30vw;
    justify-content: center;
    width: 90vw;
  }

  .siteTitulo {
    font-family: 'Parisienne', cursive;
    font-size: 5em;
    font-weight: normal;
    margin-top: 0.7em;
    text-align: center;
  }
  
  .lizVidotti {
    font-family: 'Cutive Mono', monospace;
    font-size: 1.5em;
    font-weight: normal;
    margin-top: 0.5em;
    text-align: center;
  } 
  
  .siteSubTitulo {
    font-family: 'Cutive Mono', monospace;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
  }
  
  .siteIcones {
    gap: 1em;
    width: 50px;
    margin-left: auto;
    margin-top: 3em;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
  }
  
  .siteIcones a {
    color: whitesmoke;
    font-size: 2em;
    transition: color 0.5s, text-shadow 0.5s ;
  }

  .siteIcones a:hover {
    color: 	#484848;
    text-shadow: 0px 0px 5px whitesmoke;
  }

  .about365 {
    height: 100vh;
    padding: 3em;
  }

  .about365 h2 {
    border-bottom: black solid 1px;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  .about365 .about365Caixa {
    margin-top: 4em;
  }

  .about365 p {
    margin-bottom: 1em;
    text-align: justify;
    text-indent: 2.5em;
    font-weight: bold;
  }

  .about365 .avatar img {
    float: right;
    height: 360px;
    margin-left: 3em;
    width: 360px;
  }
  ._365art {
    height: 100vh;
    padding: 3em;
  }

  ._365art h2 {
    border-bottom: black solid 1px;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  ._365art .grid {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(6, 175px);
    justify-content: center;
  }

  ._365art figure {
    text-align: center;
    transition: 0.3s;
  }

  .img_365art{
    width: 175px;
    height: 175px;
  }

  ._365art figure:hover {
    transform: scale(1.5);
  }

  ._365art figcaption {
    background-color: rgba(255,255,255,0.6);
  }

  ._365dev {
    height: 100vh;
    padding: 3em;
  }

  ._365dev h2 {
    border-bottom: black solid 1px;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    text-align: center;
    margin-bottom: 3em;
  }

  ._365dev .grid {
    align-items: center;
    display: grid;
    justify-content: center;
    gap: 1em;
    grid-template-columns: repeat(4, 8em);
  }

  ._365dev .flipcard {
    perspective: 500px;
    height: 8em;
    width: 8em;
  }

  ._365dev .card {
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
  }

  ._365dev .flipcard:hover .card{
    transform: rotateY(180deg);
  }

  ._365dev .cardverso {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
  }

  ._365dev .cardfrente {
    color: #363636;
    font-size: 6em;
    text-align: center;
  }

  ._365dev .cardverso {
    background-color: #363636;
    border-radius: 30%;
    height: 8em;
    padding: 2.6em 0.5em 3em 0.5em;
    text-align: center;
    transform: rotateY(180deg);
    width: 8em;
  } 

  .grid .cardverso a {
    color: whitesmoke;
    text-shadow: 0px 0px 5px whitesmoke;
  }

  ._365publi {
    height: 100vh;
    padding: 3em;
  }

  ._365publi h2 {
    border-bottom: black solid 1px;
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  ._365publi a {
    color: black;
    display: block;
    text-align: left;
    text-decoration: none;
  }

  ._365publi a:hover {
    background-color: rgba(0,0,0,0.5);
    color: #c8a2c8;
    text-decoration: underline; 
  }

  ._365publi p {
    font-family: 'Parisienne', cursive;
    font-size: 1.2em;
    text-align: center;
  }

  ._365publi iframe {
    margin-left: 25vw;
  }